.toggleButton {
  margin: 0;
  padding: 0;
  min-width: 60px;
  height: 60px;
  border-radius: 30px;
  border-width: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 20px;
}

.toggleButton.yes {
  background-color: #129f00;
}

.toggleButton.maybe {
  background-color: #ef9c00;
}

.toggleButton.no {
  border: 2px solid #afafaf;
  background: none;
  box-shadow: none;
}

@media (hover: hover) {
  .toggleButton.no:hover {
    border: none;
    background-color: #129f0077;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
}

@media (max-width: 768px) {
  .toggleButton {
    margin-bottom: 0;
    margin-right: 16px;
  }
}
