.submitButton {
  margin: 0;
  padding: 0;
  min-width: 60px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border-width: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #afafaf;
  margin-bottom: 20px;
}
